<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.universal.persistence.mapper.IoTDeviceShadowMapper">
  <resultMap id="BaseResultMap" type="cn.universal.persistence.entity.IoTDeviceShadow">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="iot_id" jdbcType="VARCHAR" property="iotId"/>
    <result column="product_key" jdbcType="VARCHAR" property="productKey"/>
    <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
    <result column="ext_device_id" jdbcType="VARCHAR" property="extDeviceId"/>
    <result column="active_time" jdbcType="TIMESTAMP" property="activeTime"/>
    <result column="online_time" jdbcType="TIMESTAMP" property="onlineTime"/>
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime"/>
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="metadata" jdbcType="LONGVARCHAR" property="metadata"/>
    <result column="instance" jdbcType="VARCHAR" property="instance"/>
  </resultMap>


  <select id="getDeviceShadow" resultMap="BaseResultMap" parameterType="String">
    select *
    from iot_device_shadow
    where iot_id = #{id}
  </select>
  <select id="getShadowMetadata" resultType="String">
    select `metadata`
    from iot_device_shadow
    where product_key = #{productKey}
      AND device_id = #{deviceId} limit 1
  </select>
</mapper>